[Unit]
Description=Eluvio elvmasterd
After=network.target

[Service]
User={{ elvmasterd_user }}
Group={{ elvmasterd_group }}
EnvironmentFile={{ eluvio_base_dir }}/conf/secret.env
Type=simple
Restart=always
RestartSec=30s

ExecStart={{ eluvio_base_dir }}/bin/elvmasterd start \
  --config={{ eluvio_base_dir }}/conf/{{ blockchain_network }}.toml \
  --log-file={{ fabric_data }}/elvmasterd.log

[Install]
WantedBy=multi-user.target
